@model PaginatedList<FootballMathces.Models.Team>

@{
    ViewData["Title"] = "Index";

}

<h1>Index</h1>
<div id="modal-placeholder"></div>
<div id="modal-placeholder2"></div>
<p>
    <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#add-team" data-url="@Url.Action("Create")">
        Create new team
    </button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Name
            </th>
            <th>
                Number of players
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfPlayers)
                </td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#details-team" data-url="@Url.Action($"Details/{item.Id}")">
                        Details
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
