@model FootballMatches.Models.PlayerInMatch

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PlayerInMatch</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Player)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Player.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Goals)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Goals)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsChecked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsChecked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Match)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Match.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
